#h1{
    
    font-size: 40px;
    font-weight: 400;
    font-style: italic;

}

.DEP-entry{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.footer{
    font-style: italic;
    font-size: 100px;
}